<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="constantConfig" class="com.xly.mall.common.domain.ConstantConfig">
        <property name="uploadFileUrl" value="${upload.file.url}"/>
        <property name="imageDomain" value="${image.domain}"/>
    </bean>
</beans>