<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/2002/xmlspec/dtd/2.10/xmlspec.dtd">-->

<configuration scan="true" scanPeriod="1s">


	<!-- 控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoder>
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{15} - %file:%line - %msg%n%throwable{10}</pattern>
		</encoder>
	</appender>

	<!--&lt;!&ndash;目前没用到&ndash;&gt;-->
	<appender name="sql"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<File>${logback.file.path}/sql.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${logback.file.path}/sql.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd  HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</Pattern>
		</layout>
	</appender>


	<!--<jmxConfigurator></jmxConfigurator>-->

	<logger name="java.sql.Connection" level="${logback.sql.level}" />
	<logger name="java.sql.Statement" level="${logback.sql.level}" />
	<logger name="java.sql.PreparedStatement" level="${logback.sql.level}" />
	<logger name="java.sql.ResultSet" level="${logback.sql.level}" />
	<!--&lt;!&ndash;以下日志目前用不到&ndash;&gt;-->
	<logger name="com.xly.mall.common.base.result.SqlLogInterceptor" level="${logback.sql.level}">
		<appender-ref ref="sql" />
	</logger>
	<!--<logger name="org.quartz.impl.jdbcjobstore.JobStoreTX" level="${logback.quartz.level}" />-->

	<!--和以上  <logger name="java.sql.Connection" level="${logback.sql.level}" /> 含义一样 这里的 ${logback.root.level} 设置统一日志输出级别-->
	<root level="${logback.root.level}">
		<appender-ref ref="console" />
	</root>
</configuration>
